/* Universal Selector */
.root{
    background-color:rgb(82, 129, 156);
    color: white;
}
header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6e6e6e5b;
    color: #e41515;
    display:flex;
    justify-content: space-between;
}

h1 {
    color: rgb(255, 255, 255);
}
header h1 {
    font-size: 60px;
}
body {
    background-color: #5398c5;
}

header h1 .Jackson {
    color: #3b3b3b;
}

h2 {
    color:#38053a
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
section {
    display: flex;
    justify-content: space-between;
}
body, html {
    height: 100%;
}
 .bdr-rt {
     border-right: 5px solid navy;
     flex: 0 0 20%;
     text-align: right;
 }
.content {
    flex: 0 0 70%
}
.backgroundimg {
        height: 200px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/whitebrickwoodheader.JPEG");
        background-size: cover;
        background-position: center;
    }
}

