/* Universal Selector */
.root{
    background-color:gray;
    color: white;
}
header {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #747474;
    color: #ffffff;
}

h1 {
    color: purple;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
body {
    background-color: #d9dcd6;
}

header h1 .Jackson {
    color: #38053a;
}

h2 {
    color:rgb(224, 82, 63)
}