/* Universal Selector */
.root{
    background-color:rgb(82, 129, 156);
    color: white;
}
header {
    padding: 35px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e41515;
    background-color: rgba(210, 180, 140, 0.801);
    display:flex;
    justify-content: space-between;
}

h1 {
    color: #5398c5;
}
header h1 {
    font-size: 75px;
}
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 .Jackson {
    color: #525252;
}

h2 {
    color:#525252;
    font-size: xx-large;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
section {
    display: flex;
    justify-content: space-between;
}
body, html {
    height: 100%;
}
 .bdr-rt {
     border-right: 10px solid rgba(210, 180, 140, 0.801);
     flex: 0 0 20%;
     text-align: right;
     
 }
.content {
    flex: 0 0 70%;
    text-align: row;
}
.backgroundimg {
        height: 200px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/brickwoodhdr.jpg");
        background-size: cover;
        background-position: center;
    }
}
.image1 {
    flex: 0 0 100%;
}
.otherimgs {
    flex: 0 0 50%;
    margin: 0%;

}
.mother {
    display: flex;
    flex-wrap: wrap;
}
.bottom {
    list-style-type: none;
        margin-right: 25px;

}