/* Universal Selector */
.root{
    background-color:rgb(82, 129, 156);
    color: white;
}
header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #747474;
    color: #e41515;
    display:flex;
    justify-content: space-between;
}

h1 {
    color: purple;
}
header h1 {
    font-size: 48px;
}
body {
    background-color: #887297;
}

header h1 .Jackson {
    color: #38053a;
}

h2 {
    color:#38053a
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
section {
    display: flex;
    justify-content: space-between;
}
.content {
    flex: 0 0 70%;
}
.bdr-rt {
        border-right: 5px solid red;
        flex: 0 0 20%;
        text-align: right;
    }
.bgrndimg {

}
.mother {
    display: flex;
    flex-wrap: wrap;
    
}
.image1 {
    flex: 0 0 100%;

}

.otherimgs {
flex: 0 0 50%;
}
